.pages-btn {
  background-color: rgb(56, 55, 55);
  border-radius: 1rem;
  color: #fff;
  width: 7%;
  margin: 0.7rem auto;
  font-weight: bold;
  font-size: large;
}
.cont-pages {
  padding: 1rem;
}
.current-page{
  /* opacity: 0.8; */
  font-weight: bolder !important;
  /* border: 1px solid black; */
  /* background-color: rgb(56, 55, 55); */
  cursor: not-allowed !important;
}